h1 {
    font-size: large;
    text-align: left;
}

.navigation{
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: first baseline;
    display:initial ;
 
}
.first {
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom:2px;
    padding-left: 3px;

}

.second {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.third {
    color:rgb(105, 61, 7);
}

.fourth {

}

.fifth {
    width: fit-content;
}


.text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

.image1 {
    position: relative;
}


.image1:hover .text{
    opacity: 1;
}

.image2 {
    position: relative;
}


.image2:hover .text{
    opacity: 1;
}

.image3 {
    position: relative;
}


.image3:hover .text{
    opacity: 1;
}

.image4 {
    position: relative;
}


.image4:hover .text{
    opacity: 1;
}

.image5 {
    position: relative;
}


.image5:hover .text{
    opacity: 1;
}

.image6 {
    position: relative;
}


.image6:hover .text{
    opacity: 1;
}

.image7 {
    position: relative;
}


.image7:hover .text{
    opacity: 1;
}

.image8 {
    position: relative;
}


.image8:hover .text{
    opacity: 1;
}

.col{
    flex-direction: row;
    align-items: first baseline;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.lastrow{
    max-width: 900px;
    column-count: 3;
    column-rule: 1px solid black;
}

@media only screen and (max-width:480px) {
    .navigation{
        flex-direction: column;
    }
    .col{
        display: flex;
        flex-flow: column;
    
    }
    .lastrow{
        max-width: 900px;
        column-count: 1;

    }
    
}

@media only screen and (min-width:481px) and (max-width: 800px) {

    .lastrow{
        max-width: 900px;
        column-count: 1;

    }
    .navigation {
        flex-direction: column;
    }

    .col {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 300px;
    }
      
    .firstcol {
        flex-basis: calc(50% - 20px);
        height: 100px;
        margin-bottom: 20px;
    
    }
    .seccol {
        flex-basis: calc(50% - 20px);
        height: 100px;
        margin-bottom: 20px;
    
    }
    .thirdcol {
        flex-basis: calc(50% - 20px);
        height: 100px;
        margin-bottom: 20px;
    
    }
    .fourthcol {
        flex-basis: calc(50% - 20px);
        height: 100px;
        margin-bottom: 20px;
    
    }
}

